#
#Fri Jan 18 07:18:34 CET 2013
org.coocox.codebugger.gdbjtag.core.debugMode=SWD
org.coocox.codebugger.gdbjtag.core.adapter=ST-Link
org.coocox.codebugger.gdbjtag.core.jflashtool=
org.coocox.codebugger.gdbjtag.corerunToMain=true
org.coocox.codebugger.gdbjtag.core.resetMode=SYSRESETREQ
org.coocox.codebugger.gdbjtag.coredebugInRam=false
org.coocox.codebugger.gdbjtag.core.jlinkResetMode=Type 0\: Normal
org.coocox.codebugger.gdbjtag.core.clockDiv=1M
org.coocox.codebugger.gdbjtag.core.jlinkgdbserver=
org.coocox.codebugger.gdbjtag.core.verify=true
org.coocox.codebugger.gdbjtag.core.downloadFuction=Erase Effected
org.coocox.codebugger.gdbjtag.core.autoDownload=true
org.coocox.codebugger.gdbjtag.core.targetEndianess=0
org.coocox.codebugger.gdbjtag.core.userDefineGDBScript=
org.coocox.codebugger.gdbjtag.core.ifSemihost=false
org.coocox.codebugger.gdbjtag.core.jflashscript=
org.coocox.codebugger.gdbjtag.core.defaultAlgorithm=D\:/Program_Files_AEG/CooCox/CoIDE_V1_50/flash/STM32F4xx_1024.elf
org.coocox.codebugger.gdbjtag.core.ifCacheRom=true
